<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>bandtracker</title>
  </head>
  <body>
    <div class="container jumbotron">
      <h1>Add a new band</h1>
      <form action="/bands/new" method="post">
        <label for="band-name">Band name:</label>
        <input id="band-name" name="band-name" type="text">
        <select name="venue-id">
          @foreach (var venue in Model)
          {
            <option value="@venue.GetId()">@venue.GetName()</option>
          }
        </select>
        <button type="submit">Add new band</button>
      </form>
      <p><a href="/bands">View all bands</a></p>
      <h4><a href="/">Return Home</a></h4>
    </div>
  </body>
</html>
