@if (@Model.Count == 0)
{
<p>No bands have played at this venue yet!</p>
}
else
{
  <h1>Here are the bands which have played at this venue:</h1>
  <ul>
    @foreach (var band in Model)
    {
      <li><a href="/bands/@band.GetId()">@band.GetName()</a></li>
    }
  </ul>
}
<hr />
<p><a href="/bands/new">Add a new band</a></p>
<p><a href="/">Return home</a></p>
