<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>bandtracker</title>
  </head>
  <body>
    <div class="container jumbotron">
      <h1>Delete a Venue</h1>
      <hr/>
      <h2>Are you sure you want to delete this venue?</h2>
      <h4>@Model.GetName()</h4>
      <form action="/venue/delete/@Model.GetId()" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
      </form>
    </div>
    <div class="container jumbotron">
      <h4><a href="/">Return Home</a></h4>
    </div>
  </body>
</html>
